$background: #FEFAE0;
$primary: #211A1D;
$my-blue: #3993DD;
$my-red: #F15156;


@font-face {
  font-family: 'Lexend Exa';
  src: url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

  font-weight: 600;
  font-style: semibold;
}

h1{
  font-family:'Lexend Exa';
  font-size: 50px;
  margin: 2.5rem;
}

.cover{
  padding: 0px 30px;
  position: relative;
}

.left{
  position: absolute;
  left: 50px;
  top: 50%;
  transition: transform 250ms;
}

.left:hover{
  transform: translateX(-10px);
}

.scroll-cards{
  width: 62%;
  height: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
}

.card {
  width: 270px;
  height: 430px;
  margin: 1px 10px;
  padding: 10px;
  overflow: hidden;

  background-color: $background;
  border: 3px solid $primary;
  border-radius: 15px;

  text-align: center;
  font-size: 24px;
  font-family: 'Lexend Exa';

  flex: 0 0 auto ;
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  white-space: normal;
  word-wrap: break-word;
  font-family: 'Lexend Exa'
}

.task{
  border: 1px solid blue;
  height: 150px;
}

.card-content{
  // flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  //height: calc(100% - 60%);
}

.card-content input, 
.card-content textarea {
  background-color: $background;
  margin: 5px 0;
  width: 90%; //adjust
  padding: 8px;
  font-size: 18px;
  font-family: 'Lexend Exa';
  border: 2px solid $primary;
  border-radius: 5px;
  resize: none;
}

.card-content p {
  background-color: $background;
  margin: 5px 0;
  width: 90%; //adjust
  padding: 8px;
  font-size: 24px;
  font-family: 'Lexend Exa';
  border-radius: 5px;
  resize: none;
  border: none;
}

.card-content textarea{
  height: 150px;
}

.card-buttons{
  margin-top: 3.5rem;
  bottom: 10px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.card-buttons input,.card-buttons button{
  width: 24px;
  font-family: 'Lexend Era';
  border: 2px solid $primary;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.card-buttons .editButton, .card-buttons .saveButton{
  background-color: $my-blue;
}

.card-buttons .deleteButton, .card-buttons .cancelButton{
  background-color: $my-red;
}

.right {
  position: absolute;
  right: 50px;
  top: 50%;
  transition: transform 250ms;
}

.right:hover{
  transform: translateX(10px);
}


.left, .right{
  cursor: pointer;
}

.button-container{
  bottom: 0.1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px
}

.button-container button {
  font-family: 'Lexend Exa';
  width: 20%;
  height: 60px;
  margin: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 250ms;
}

.button-container button:hover{
  transform: translateY(-3px);
}

.onCancel {
  background-color: $my-red;
  color: #fff;
}

.onImport {
  background-color: #007bff;
  color: #fff;
}

